**Importing Libraries**

In [2]:
import pandas as pd
import numpy as np

***ALL WORK ON DATA(PREROCESSING etc.)***

In [3]:
data = pd.read_csv("Bengaluru_House_Data.csv")

In [4]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [5]:
data.shape

(13320, 9)

In [6]:
data.info

<bound method DataFrame.info of                   area_type   availability                  location  \
0      Super built-up  Area         19-Dec  Electronic City Phase II
1                Plot  Area  Ready To Move          Chikka Tirupathi
2            Built-up  Area  Ready To Move               Uttarahalli
3      Super built-up  Area  Ready To Move        Lingadheeranahalli
4      Super built-up  Area  Ready To Move                  Kothanur
...                     ...            ...                       ...
13315        Built-up  Area  Ready To Move                Whitefield
13316  Super built-up  Area  Ready To Move             Richards Town
13317        Built-up  Area  Ready To Move     Raja Rajeshwari Nagar
13318  Super built-up  Area         18-Jun           Padmanabhanagar
13319  Super built-up  Area  Ready To Move              Doddathoguru

            size  society total_sqft  bath  balcony   price
0          2 BHK  Coomee        1056   2.0      1.0   39.07
1      4 Bedroom  Theanmp       2600   5.0      3.0  120.00
2          3 BHK      NaN       1440   2.0      3.0   62.00
3          3 BHK  Soiewre       1521   3.0      1.0   95.00
4          2 BHK      NaN       1200   2.0      1.0   51.00
...          ...      ...        ...   ...      ...     ...
13315  5 Bedroom  ArsiaEx       3453   4.0      0.0  231.00
13316      4 BHK      NaN       3600   5.0      NaN  400.00
13317      2 BHK  Mahla T       1141   2.0      1.0   60.00
13318      4 BHK  SollyCl       4689   4.0      1.0  488.00
13319      1 BHK      NaN        550   1.0      1.0   17.00

[13320 rows x 9 columns]>

In [7]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)
#This loop checks for all the columns one by one which variable is how many times

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************

In [8]:
data.isna().sum()
#this checks for null values(is NA?) and takes the sum i.e. total number of null values

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [9]:
data.drop(columns = ['area_type', 'availability','society'],inplace=True)
#we drop the features of no use

In [10]:
data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   balcony     12711 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(3), object(3)
memory usage: 624.5+ KB

In [12]:
data['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [13]:
data['location'] = data['location'].fillna('Whitefield')

In [14]:
data['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [15]:
data['size'] = data['size'].fillna('2 BHK')

In [16]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   balcony     12711 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(3), object(3)
memory usage: 624.5+ KB

In [18]:
data['bhk'] = data['size'].str.split().str.get(0).astype(int)
#This helps us in solving the issue that some sizes are in bhk and some are in bedroom
# So this function helps in taking numerical values before the space and store it in new variable as int

In [19]:
data[data.bhk > 20]

,location,size,total_sqft,bath,balcony,price,bhk
1718,2Electronic City Phase II,27 BHK,8000,27.0,0.0,230.0,27
4684,Munnekollal,43 Bedroom,2400,40.0,0.0,660.0,43

In [20]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [21]:
def convertRange(x):
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0]) + float(temp[1]))/2
    try:
        return float(x)
    except:
        return None
#This Function is such that it splits ranges into two independent values and take their mean to get one value as an answer

In [22]:
data['total_sqft'] = data['total_sqft'].apply(convertRange)
#Here convertRange Funtion is applied to Total_sqft column

In [23]:
data.head()

                   location       size  total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0      1.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0      1.0   51.00    2

Code to get **PRICE PER SQFT**(To remove outliers)

In [24]:
data['price_per_sqft'] = data['price']*100000 / data['total_sqft']

In [25]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [26]:
data.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sqft
count,13274.000000,13320.000000,12711.000000,13320.000000,13320.000000,1.327400e+04
mean,1559.626694,2.688814,1.584376,112.565627,2.802778,7.907501e+03
std,1238.405258,1.338754,0.817263,148.971674,1.294496,1.064296e+05
min,1.000000,1.000000,0.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,1.000000,50.000000,2.000000,4.266865e+03
50%,1276.000000,2.000000,2.000000,72.000000,3.000000,5.434306e+03
75%,1680.000000,3.000000,2.000000,120.000000,3.000000,7.311746e+03
max,52272.000000,40.000000,3.000000,3600.000000,43.000000,1.200000e+07

In [27]:
data['location'].value_counts()

location
Whitefield                        541
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [28]:
data['location'] = data['location'].apply(lambda x: x.strip())
location_count = data['location'].value_counts()
#many location have less values so prediction is not possible
#So i striped some locations

In [29]:
location_count_less_10 = location_count[location_count<=10]
location_count_less_10
#so all locations having value less than 10 will be changed to others

location
Dairy Circle                      10
Nagappa Reddy Layout              10
Basapura                          10
1st Block Koramangala             10
Sector 1 HSR Layout               10
                                  ..
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
singapura paradise                 1
Abshot Layout                      1
Name: count, Length: 1053, dtype: int64

In [30]:
data['location'] = data['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [31]:
data['location'].value_counts()

location
other                 2885
Whitefield             542
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

**Outliers Handling**

In [32]:
data.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sqft
count,13274.000000,13320.000000,12711.000000,13320.000000,13320.000000,1.327400e+04
mean,1559.626694,2.688814,1.584376,112.565627,2.802778,7.907501e+03
std,1238.405258,1.338754,0.817263,148.971674,1.294496,1.064296e+05
min,1.000000,1.000000,0.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,1.000000,50.000000,2.000000,4.266865e+03
50%,1276.000000,2.000000,2.000000,72.000000,3.000000,5.434306e+03
75%,1680.000000,3.000000,2.000000,120.000000,3.000000,7.311746e+03
max,52272.000000,40.000000,3.000000,3600.000000,43.000000,1.200000e+07

In [33]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [34]:
data = data[((data['total_sqft']/data['bhk']) >= 250)]
data.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sqft
count,12662.00000,12662.000000,12140.000000,12662.000000,12662.000000,12662.000000
mean,1589.85332,2.571237,1.584432,111.546305,2.667035,6348.108205
std,1257.98076,1.115735,0.809291,151.679123,1.021768,4203.981549
min,250.00000,1.000000,0.000000,8.000000,1.000000,267.829813
25%,1115.00000,2.000000,1.000000,49.000000,2.000000,4215.474643
50%,1300.00000,2.000000,2.000000,70.000000,3.000000,5302.169502
75%,1700.00000,3.000000,2.000000,116.000000,3.000000,6965.680804
max,52272.00000,27.000000,3.000000,3600.000000,27.000000,176470.588235

In [35]:
data.shape

(12662, 8)

In [36]:
data.price_per_sqft.describe()

count     12662.000000
mean       6348.108205
std        4203.981549
min         267.829813
25%        4215.474643
50%        5302.169502
75%        6965.680804
max      176470.588235
Name: price_per_sqft, dtype: float64

In [37]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame() #created an output dataframe
    for key, subdf in df.groupby('location'): #data is grouped by loaction and sub dataframe is created 
        m = np.mean(subdf.price_per_sqft)

        st = np.std(subdf.price_per_sqft)

        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))] # data only within mean +- standard deviation are taken
        df_output = pd.concat([df_output,gen_df],ignore_index =True) #rest outliers are removed
    return df_output

data = remove_outliers_sqft(data)
data.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sqft
count,10450.000000,10450.000000,10077.000000,10450.000000,10450.000000,10450.000000
mean,1506.430211,2.480478,1.591247,91.417511,2.585933,5680.910445
std,880.876211,1.021471,0.797186,86.198534,0.944499,2296.362267
min,284.000000,1.000000,0.000000,8.000000,1.000000,1250.000000
25%,1105.000000,2.000000,1.000000,49.000000,2.000000,4239.458956
50%,1285.000000,2.000000,2.000000,67.000000,2.000000,5183.618304
75%,1650.000000,3.000000,2.000000,100.000000,3.000000,6466.106086
max,30400.000000,27.000000,3.000000,2200.000000,27.000000,24509.803922

In [38]:
def bhk_outlier_remover(df): 
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'): #created datafram and sub dataframe based on loaction
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'): #those sub data frames for each loaction are grouped by BHK
            bhk_stats[bhk] = { #a dictionary stores bhk stats by mean, standard deviation and number of bhk
                'mean': np.mean(bhk_df.price_per_sqft), 
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
    #in this case the outliers are flats cheaper than mean price of a lower bhk flat   
    for bhk, bhk_df in location_df.groupby('bhk'): 
        stats = bhk_stats.get(bhk-1) 
        if stats and stats['count']>5:
            exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft < (stats['mean'])].index.values)
    return df.drop(exclude_indices, axis='index')

In [39]:
data = bhk_outlier_remover(data)

In [40]:
data.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sqft
count,9288.000000,9288.000000,8964.000000,9288.000000,9288.000000,9288.000000
mean,1505.716054,2.475775,1.581437,94.559913,2.573428,5855.003005
std,832.362400,1.018011,0.798969,87.596860,0.928586,2362.020431
min,284.000000,1.000000,0.000000,8.000000,1.000000,1300.000000
25%,1110.000000,2.000000,1.000000,50.000000,2.000000,4346.645895
50%,1293.000000,2.000000,2.000000,70.000000,2.000000,5396.150080
75%,1664.000000,3.000000,2.000000,105.000000,3.000000,6666.666667
max,30000.000000,27.000000,3.000000,2200.000000,27.000000,24509.803922

In [92]:
data['balcony'].fillna(2, inplace=True)

In [93]:
data.shape

(9288, 6)

In [94]:
data

                  location  total_sqft  bath  balcony  price  bhk
0      1st Block Jayanagar      2850.0   4.0      1.0  428.0    4
1      1st Block Jayanagar      1630.0   3.0      2.0  194.0    3
2      1st Block Jayanagar      1875.0   2.0      3.0  235.0    3
3      1st Block Jayanagar      1200.0   2.0      0.0  130.0    3
4      1st Block Jayanagar      1235.0   2.0      2.0  148.0    2
...                    ...         ...   ...      ...    ...  ...
10441                other      1200.0   2.0      3.0   70.0    2
10442                other      1800.0   1.0      1.0  200.0    1
10445                other      1353.0   2.0      2.0  110.0    2
10446                other       812.0   1.0      0.0   26.0    1
10449                other      3600.0   5.0      2.0  400.0    4

[9288 rows x 6 columns]

In [95]:
data.drop(columns = ['size', 'price_per_sqft'],inplace=True)
#size column is dropped as already numerical value is taken
#price_per_sqft is dropped as it was only needed to find the outliers and now it is of no use

KeyError: "['size', 'price_per_sqft'] not found in axis"

***Final Data after preprocessing***

In [96]:
data.head()

              location  total_sqft  bath  balcony  price  bhk
0  1st Block Jayanagar      2850.0   4.0      1.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0      2.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0      3.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0      0.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0      2.0  148.0    2

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9288 entries, 0 to 10449
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    9288 non-null   object
 1   total_sqft  9288 non-null   float64
 2   bath        9288 non-null   float64
 3   balcony     9288 non-null   float64
 4   price       9288 non-null   float64
 5   bhk         9288 non-null   int32
dtypes: float64(4), int32(1), object(1)
memory usage: 471.7+ KB

In [98]:
data.to_csv("Final_data.csv")

**Operation on Data are done**

***Model Creation***

In [99]:
X = data.drop(columns=['price'])
Y = data['price']
#separating features and and final value to be predicted

In [100]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler 
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline 
from sklearn.metrics import r2_score

# Splitting the dataset into training and test sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

print(X_train.shape)
print(X_test.shape)

(7430, 5)
(1858, 5)

In [101]:
# Define the column transformer
column_trans = make_column_transformer(
    (OneHotEncoder(sparse=False), ['location']),
    remainder='passthrough'
)

In [102]:

# Create the pipeline with imputation using SimpleImputer and LinearRegression
from sklearn.impute import SimpleImputer

scaler = StandardScaler()
imputer = SimpleImputer(strategy='mean')
lr = LinearRegression()

In [103]:
print(data.columns)

Index(['location', 'total_sqft', 'bath', 'balcony', 'price', 'bhk'], dtype='object')

In [104]:

pipe = make_pipeline(column_trans, scaler, imputer, lr)

# Fit the pipeline with imputation
pipe.fit(X_train, Y_train)

c:\Users\prans\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('simpleimputer', SimpleImputer()),
                ('linearregression', LinearRegression())])

In [105]:
Y_pred_lr = pipe.predict(X_test)

In [106]:
r2_score(Y_test, Y_pred_lr)

0.8144550639071968

***Applying Lasso***

In [107]:
lasso = Lasso()

In [108]:
pipe = make_pipeline(column_trans, scaler, lasso)

In [109]:
pipe.fit(X_train, Y_train)

c:\Users\prans\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [120]:
Y_pred_lasso = pipe.predict(X_test)
r2_score(Y_test, Y_pred_lasso)

0.8144506817672859

***Applying Ridge***

In [111]:
ridge = Ridge()

In [113]:
pipe = make_pipeline(column_trans, scaler, ridge)

In [114]:
pipe.fit(X_train, Y_train)

c:\Users\prans\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [118]:
Y_pred_ridge = pipe.predict(X_test)

In [119]:
r2_score(Y_test, Y_pred_ridge)

0.8144506817672859

In [121]:
print("Simple Linear Regression: ", r2_score(Y_test, Y_pred_lr))
print("Lasso: ", r2_score(Y_test, Y_pred_lasso))
print("Ridge: ", r2_score(Y_test, Y_pred_ridge))

Simple Linear Regression:  0.8144550639071968
Lasso:  0.8144506817672859
Ridge:  0.8144506817672859

In [122]:
import pickle

In [123]:
pickle.dump(pipe, open('RidgeModel.pkl','wb'))